<br>
<div class="menu" id="pricelist">
    <h1>Menu</h1>
    <br>
    <br>
    <div style="text-align: left;">Haircut</div>
    <div style="text-align: right;">300 ден.</div>
    <br>
    <br>
    <div style="text-align: left;">Hairwash</div>
    <div style="text-align: right;">50 ден.</div>
    <br>
    <br>
    <div style="text-align: left;">Beard</div>
    <div style="text-align: right;">150 ден.</div>
    <br>
    <br>
    <div style="text-align: left;">Face care</div>
    <div style="text-align: right;">500 ден.</div>
</div>
<div class="menu" id="workinghours">
    <h1>Working Hours</h1>
    <br>
    <br>
    <div style="text-align: left;">Monday - Friday</div>
    <div style="text-align: right;">09:00 - 22:00</div>
    <br>
    <br>
    <div style="text-align: left;">Saturday</div>
    <div style="text-align: right;">12:00 - 18:00</div>
    <br>
    <br>
    <div style="text-align: left;">Sunday</div>
    <div style="text-align: right;">Closed</div>
</div>
<div class="menu" id="location">
    <h1>Location</h1>
    <br>
    <br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.099219698277!2d21.413611476090722!3d41.998146121228714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13541447d3bd6c79%3A0xac9aada959f10282!2sDeko%20Friz!5e0!3m2!1sen!2smk!4v1703079118967!5m2!1sen!2smk"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
<div class="menu" id="contacts">
    <h1>Contacts</h1>
    <br>
    <br>
    <div style="text-align: left;">Phone</div>
    <div style="text-align: right;">+389 70 123 456</div>
    <br>
    <br>
    <div style="text-align: left;">Email</div>
    <div style="text-align: right;">dekofriz@yahoo.com</div>
    <br>
    <br>
    <div style="text-align: left;">Address</div>
    <div style="text-align: right;">Ul.Borka Taleski br.11, Skopje, Centar</div>

</div>